@using evaluacionLECH.Models
@model List<CapturaCLS>
@{
    ViewBag.Title = "Evaluar Prospecto";
}
<div class="row" style="margin-top:1.5rem">
    <div class="row" style="margin-bottom:2rem;">
        <div class="col" style="text-align:center;">
            <h2>
                <i class="fas fa-users"></i>&nbsp;&nbsp;Lista de Prospectos Ingresados
            </h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <table id="tablaProspecto" class="table hover display" style="width:100%">
                    <thead>
                        <tr>
                            <td>@Html.LabelFor(p => Model[0].nombreProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].aPaternoProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].aMaternoProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].telefonoProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].rfcProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].calle)</td>
                            <td>@Html.LabelFor(p => Model[0].numero)</td>
                            <td>@Html.LabelFor(p => Model[0].colonia)</td>
                            <td>@Html.LabelFor(p => Model[0].codigoPostal)</td>
                            <td>@Html.LabelFor(p => Model[0].estatusProspecto)</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.nombreProspecto</td>
                                <td>@item.aPaternoProspecto</td>
                                <td>@item.aMaternoProspecto</td>
                                <td>@item.telefonoProspecto</td>
                                <td>@item.rfcProspecto</td>
                                <td>@item.calle</td>
                                <td>@item.numero</td>
                                <td>@item.colonia</td>
                                <td>@item.codigoPostal</td>
                                @if (item.estatusProspecto == 1)
                                {
                                    <td>Enviado</td>
                                }
                                else if (item.estatusProspecto == 2)
                                {
                                    <td>Autorizado</td>
                                }
                                else if (item.estatusProspecto == 3)
                                {
                                    <td>Rechazado</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
