@using evaluacionLECH.Models
@model List<CapturaCLS>
@{
    ViewBag.Title = "Lista de prospectos";
}
<style>
    .espacio {
        margin-bottom: 3rem;
    }

    .itemAltura {
        margin-top: 1rem;
    }

    .buttons {
        margin: 0.5rem;
    }
</style>
<div class="row" style="margin-top:1.5rem">
    <div class="row" style="margin-bottom:2rem;">
        <div class="col" style="text-align:center;">
            <h2>
                <i class="fas fa-users"></i>&nbsp;&nbsp;Lista de Prospectos Ingresados
            </h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <table id="tablaProspecto" class="table hover display" style="width:100%">
                    <thead>
                        <tr>
                            <td>@Html.LabelFor(p => Model[0].nombreProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].aPaternoProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].aMaternoProspecto)</td>
                            <td>@Html.LabelFor(p => Model[0].estatusProspecto)</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.nombreProspecto</td>
                                <td>@item.aPaternoProspecto</td>
                                <td>@item.aMaternoProspecto</td>
                                @if (item.estatusProspecto == 1)
                                {
                                    <td>Enviado</td>
                                }
                                else if (item.estatusProspecto == 2)
                                {
                                    <td>Autorizado</td>
                                }
                                else if (item.estatusProspecto == 3)
                                {
                                    <td>Rechazado</td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tablaProspecto').DataTable({
                dom: 'Bfrtip',
                select: true,
                language:
                {
                    url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                },
                "paging": false,
                initComplete: function () {
                    $('.btnMostrar').attr('style', 'display:none;');
                },
                buttons: [
                    {
                        text: 'My button',
                        action: function (e, dt, node, config) {
                            alert('Button activated');
                        }
                    }
                ]
            });
            new $.fn.dataTable.FixedColumns(table);
            table.on('select deselect', function () {
                var selectedRows = table.rows({ selected: true }).count();
                console.log(selectedRows);
                table.button(0).enable(selectedRows === 1);
            });
        });
    </script>
</div>
